html {
  overflow-x: hidden;
  margin: 1% 1% 1% 1%;
}

@font-face {
  font-family: "jgs9";
  src: url("jgs9.ttf") format("truetype");
}

@font-face {
  font-family: "jgs7";
  src: url("jgs7.ttf") format("truetype");
}

@font-face {
  font-family: "jgs5";
  src: url("jgs5.ttf") format("truetype");
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #DFDFDF;
    --hilight: #370f68;
    --imagetone: #370f68;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #00130e;
    --hilight: #DFDFDF;
    --imagetone: #DFDFDF;
  }
}

html {
  font-family: "jgs9";
  background-color: var(--background);
  color: var(--hilight);
  overflow-x: none;
  font-size: 9px;
}

a {
  text-decoration: none;
  color: var(--hilight);
}

a:hover {
  text-decoration: underline;
}

/*6666666666666666 VERSION SLIDESHOW 666666666666666666*/

.cont_cont{
  position: fixed;
  top: 17%;
  right: 5%;
  width: 50%;
}

.image_cont{
 display: none;
 background-color: var(--imagetone);
 margin: 0px;
}

.image_cont:first-of-type{
  display: block;
}

.arrow_after, .arrow_before, .counting{
  display: inline-block;
}
.arrow_before{
  position: absolute;
  left:0px;
}
.counting{
  text-align: center;
width: 100%;
}
.arrow_after{ position: absolute;
  right: 0px;
}
.checks{
  display: inline;
}
.checks input{
  width: 0px;
  opacity: 0;
  margin-left: -2px;
  margin-right: -2px;
  margin-top: 0px;
  margin-bottom: 0px;

}
.checkmark::before {
  display: inline;
  top: 0;
  left: 0;
  content:" ☺";
}
.checkmark::after {
  display: none;
  top: 0;
  left: 0;
  content:"☻ ";
}
.checks:hover input + .checkmark::before {
  content:" ☻";
  cursor: pointer;
}
.checks label:hover{
  cursor:pointer;
  text-decoration: underline;
}
.checks label:hover .retourligne{
  text-decoration: underline var(--background);
}
.checks input:checked + .checkmark::before{
  display:none;
}

.checks input:checked ~ label{
  text-decoration: underline;
}
.checks input:checked + .checkmark::after{
  display:inline;
}

.textcoord{
  font-family: "jgs7", courier, monospace;
  font-size: 18px;
  background-color: var(--background);
  color: var(--hilight);
  border: 0px;
  margin: 0px;
  padding:0px;
 border-bottom: 1px solid var(--hilight);
}
/*6666666666666666 VERSION PORTE DOCUMENTS 666666666666*/
/*
.cont_cont {
  position: fixed;
  top: 2vh;
  right: 1%;
  width: 50%;
  height: auto;
}

.image_cont:first-of-type {
  margin: 0px;
}

.image_cont:hover {
  z-index: 9;
  margin-bottom: 60%;
}

.side{
  position: fixed;
  top:1%;left:0%;
  height: 100%;opacity: 14.1%;
pointer-events: none;
}

.image_cont {
  position: relative;
  margin: -60% 0% 0% 0%;
  background: var(--imagetone);
  transition: background 100ms;
  height: 60%;
  border-top: 1px solid var(--background);
}
*/


.image_cont img {
  width: 100%;
  position: relative;
  mix-blend-mode: screen;
  filter: grayscale(100%) contrast(110%) brightness(115%);
  opacity: 1;
  transition: filter 300ms, mix-blend-mode 100ms;
  object-fit: cover;
  display: block;
  height: 100%;
}

.image_cont:hover>img {
  filter: grayscale(0) contrast(100%) brightness(100%);
  mix-blend-mode: normal;
  opacity: 1;
}

.image_cont img:hover {}

a:hover > .retourligne{
  text-decoration: underline var(--background);
}

pre {
  font-kerning: none;
  letter-spacing: 90;
  margin: 0px;
  display: inline;
  font-family: "jgs7", courier, monospace;
  font-size: 18px;
}

a {
  pointer-events: all;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

a+pre {
  display: none;
}

.shop:hover {
  text-decoration: none;
  background-color: var(--hilight);
  color: var(--background);
}

@media only screen and (max-width: 820px){
  img:hover{

  }
  .cont_cont{
    position: relative;
  }

  .image_cont{
   display: block;
  }

  .image_cont:first-of-type{
    display: block;
  }

  .arrow_after, .arrow_before, .counting{
    display: none;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 350px) {
  html {
    overflow-x: none;
  }

  body {
    margin: 5px;
  }

  pre {
    font-family: "jgs5";
    vertical-align: middle;
    font-size: 10px;
    line-height: 10px;
  }

  .cont_cont {
    position: relative;
    width: calc(4.75px*60);
    margin: 0px;
  }

  .image_cont {
    margin: 10px 0px 0px 10px;
    position: relative;
    width: 100%;
    background-color: transparent;
  }

  .image_cont>img {
    filter: none;
    mix-blend-mode: normal;
  }
}

@media only screen and (min-width:360px) and (max-width: 400px) {
  html {
    overflow-x: none;
  }

  body {}

  .cont_cont {
    position: relative;
    width: calc(5.25px*60);
    margin: 5.25px 0px 5.25px 5.25px;
  }

  .image_cont {
    margin: 10.5px 0px 0px 0px;
    position: relative;
    width: calc(5.7px*60);
    background-color: transparent;
  }

  .image_cont>img {
    filter: none;
    mix-blend-mode: normal;
  }

  html {
    margin: 0px;
    margin-top: 5px;
  }

  pre {
    font-family: "jgs5";
    font-size: 10.5px;
    line-height: 10.5px;
  }
}
@media only screen and (min-width:380px) and (max-width: 400px) {
  html {
    overflow-x: none;
  }

  body {}

  .cont_cont {
    position: relative;
    width: calc(6.25px*60);
    margin: 6.25px 0px 6px 6.25px;
  }

  .image_cont {
    margin: 12.5px 0px 0px 0px;
    position: relative;
    width: calc(6.15px*60);
    background-color: transparent;
  }

  .image_cont>img {
    filter: none;
    mix-blend-mode: normal;
  }

  html {
    margin: 0px;
    margin-top: 6px;
  }

  pre {
    font-family: "jgs5";
    font-size: 12.5px;
    line-height: 12.5px;
  }
}

@media only screen and (min-width:401px) and (max-width: 500px) {
  html {
    overflow-x: none;
  }

  body {}

  .cont_cont {
    position: relative;
    width: calc(6.4px*60);
    margin: 13.5px 0px 0px 13.5px;
  }

  .image_cont {
    margin: 13.5px 0px 0px 13.5px;
    position: relative;
    width: calc(6.4px*60);
    background-color: transparent;
  }

  .image_cont>img {
    filter: none;
    mix-blend-mode: normal;
  }

  html {
    margin: 0px;
    margin-top: 6.75px;
  }

  pre {
    font-family: "jgs5";
    font-size: 13.5px;
    line-height: 13.5px;
  }
}

@media only screen and (min-width:500px) and (max-width: 600px) {
  html {
    overflow-x: none;
  }

  body {}

  .cont_cont {
    position: relative;
    width: calc(8px*60);
    margin: 16.5px 0px 0px 16.5px;
  }

  .image_cont {
    margin: 16.5px 0px 0px 16.5px;
    position: relative;
    width: calc(7.8px*60);
    background-color: transparent;
  }

  .image_cont>img {
    filter: none;
    mix-blend-mode: normal;
  }

  html {
    margin: 0px;
    margin-top: 8.25px;
  }

  pre {
    font-family: "jgs5";
    font-size: 16.5px;
    line-height: 16.5px;
  }
}

@media only screen and (min-width: 600px) and (max-width:700px) {
  html {
    overflow-x: none;
  }

  body {}

  .cont_cont {
    position: relative;
    width: calc(10px*60);
    margin: 20px 0px 0px 20px;
  }

  .image_cont {
    margin: 20px 0px 0px 20px;
    position: relative;
    width: calc(9.5px*60);
    background-color: transparent;
  }

  .image_cont>img {
    filter: none;
    mix-blend-mode: normal;
  }

  html {
    margin: 0px;
    margin-top: 10px;
  }

  pre {
    font-family: "jgs7";
    font-size: 20px;
    line-height: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 700px and up) */
@media only screen and (min-width: 700px) and (max-width:820px) {
  html {
    overflow-x: none;
  }

  body {}


  .cont_cont {
    position: relative;
    width: calc(10.8px*60);
    margin: 23px 0px 0px 23px;
  }

  .image_cont {
    margin: 23px 0px 0px 23px;
    position: relative;
    width: calc(11px*60);
    background-color: transparent;
  }

  .image_cont>img {
    filter: none;
    mix-blend-mode: normal;
  }

  html {
    margin: 0px;
    margin-top: 11.5px;
  }

  pre {
    font-family: "jgs7";
    font-size: 23px;
    line-height: 23px;
  }
}
